############################################
#export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home
#export JAVA_HOME={{ java_home.stdout }}
export JAVA_HOME=/usr/local/opt/java
export PATH=${JAVA_HOME}/bin:${PATH}

############################################
# JAVA_OPTS
#############################################

# -server
#  Select the java HotSpot Server JVM
# The 64-bit version of the JDK support only the Server VM,
# so in that case the option is implicit
# ... so it's redundant to today's world but it make me feel good.
export JAVA_OPTS="-server"

# -Xms/Xmx
#   Xms Sets the initial size of the Heap
#   Xmx sets the Maximum size of the Heap.
#  http://stackoverflow.com/questions/16087153/what-happens-when-we-set-xmx-and-xms-equal-size
#  http://crunchify.com/jvm-tuning-heapsize-stacksize-garbage-collection-fundamental/
export JAVA_OPTS="$JAVA_OPTS -Xms512M -Xmx1024M"

# -NewSize/MaxNewSize
#  Set the size of the young generation
#  Most newly created objects are made here
#  Objects taht did not become unreachbale and survice the young
# Generation heap are copied to the Old Generation
# See http://www.cubrid.org/blog/dev-platform/understanding-java-garbage-collection
# https://redstack.wordpress.com/2011/01/06/visualising-garbage-collection-in-the-jvm/
export JAVA_OPTS="$JAVA_OPTS -XX:NewSize=256m -XX:MaxNewSize=256m"

export JAVA_OPTS="$JAVA_OPTS -XX:MetaspaceSize=256m"

# -DisableExlicitGC
#  Explicit calls to System.gc() are completely ignored
#
# http://stackoverflow.com/questions/12847151/setting-xxdisableexplicitgc-in-production-what-could-go-wrong
export JAVA_OPTS="$JAVA_OPTS -XX:+DisableExplicitGC"

export JAVA_OPTS="$JAVA_OPTS -Dfile.encoding=UTF-8"
export JAVA_OPTS="$JAVA_OPTS -Dlog4j.debug"
export JAVA_OPTS="$JAVA_OPTS -Dlog4j.configuration=file:{{ workspace_dir }}/orion/config/log4j.local.properties"
export JAVA_OPTS="$JAVA_OPTS -Dorion.base=file:{{ workspace_dir }}/orion/config"
export JAVA_OPTS="$JAVA_OPTS -Dorion.environment=poclocal"
export JAVA_OPTS="$JAVA_OPTS -Dorionweb.base=file:{{ workspace_dir }}/orionweb/config"
export JAVA_OPTS="$JAVA_OPTS -Dorionweb.environment=poclocalweb"
export JAVA_OPTS="$JAVA_OPTS -Dspring.profiles.active=develop"
# export JAVA_OPTS="$JAVA_OPTS -Djavax.net.debug=ssl"

#################################################
# CATALINA_OPTS
# This are basically JAVA_OPTS but only used by tomcat
# and only run on Tomcat start see
#  http://stackoverflow.com/questions/11222365/catalina-opts-vs-java-opts-what-is-the-difference
# for more details
################################################

# Turn on the jmxremote so you can use JConsole or VisualVM
# to monitor the jvm remotely
#     https://tomcat.apache.org/tomcat-7.0-doc/monitoring.html
#     http://www.mkyong.com/tomcat/jconsole-jmx-remote-access-on-tomcat/
#     http://www.javaworld.com/article/2072322/from-jconsole-to-visualvm.html
export CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote"
export CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.port=9999"
export CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.rmi.port=9999"
export CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.authenticate=false"
export CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.ssl=false"
#This gets the local IP address
IP_ADDR=`ifconfig en0 | grep inet | grep -v inet6 | cut -d ' ' -f2`
export CATALINA_OPTS="$CATALINA_OPTS -Djava.rmi.server.hostname=$IP_ADDR"

#export CATALINA_HOME=/10x13/apps/tomcat8
#export CATALINA_OUT=/10x13/logs/tomcat8/catalina.out
#export CATALINA_PID=/var/run/tomcat8/tomcat.pid
